body {
	padding: 10px;
	font-family: "Lato", sans-serif;
}

.chess-board {
	width: 400px;
}

.chess-board img {
	cursor: pointer;
}

.dialog {
	position: absolute;
	top: 110px;
	left: 154px;
	z-index: 100;
	width: 100px;
	background-color: antiquewhite;
	border-width: 4px;
	border-style: double;
	border-radius: 8px;
	border-color: black;
	padding: 8px;
	text-align: center;
	min-width: 200px;
}

#promotion-dialog img {
	cursor: pointer;
}

#overlay {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vh;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: #B5651D;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #222;
	box-shadow: 8px 8px 8px #666;
	max-width: 120px;
}

.button:HOVER {
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #B5651D;
}

#header {
	border-radius: 8px;
	margin-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: antiquewhite;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#header-left {
	vertical-align: top;
	display: inline-block;
	width: 260px;
}
	
#header-right {
	vertical-align: top;
	display: inline-block;
	text-align: right;
	width: calc(100% - 280px);
}

#login-dropdown-list {
	left: -50vw;
	top: 40px;
	border-radius: 12px;
	border-style: double;
	border-width: 6px;
	border-color: black;
	box-shadow: 12px 12px 12px #666;
}

/* #header .button { */
/* 	display: inline-block; */
/* 	margin-left: 8px; */
/* } */

#header-logo {
	width: 80px;
	border-radius: 16px;
	margin-top: 6px;
}

#header-text {
	vertical-align: top;
	display: inline-block;
	margin-left: 8px;
}

#header-title {
	font-size: 32px;
	font-weight: bold;
}

#need-to-sign-in {
	text-align: center;
}

#need-to-sign-in .button {
	margin: 16px;
	margin-left: 30px;
}

#spinner {
	position: absolute;
	z-index: 300;
}

#spinner img {
	position: absolute;
	z-index: 400;
	width: 300px;
	left: calc(50vw - 150px);
	top: 200px;
}

#message {
	width: 400px;
}

#message-text {
	text-align: center;
	margin: 12px;
}

#message-ok-button {
	margin-left: 140px;
}

#clock {
	background-color: antiquewhite;
	width: 380px;
	text-align: center;
	font-weight: bold;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}
