body {
	margin: 6px;
	font-family: "Lato", sans-serif;
	background-color: lightyellow;
}

#content {
	white-space: nowrap;
}

input {
	width: 160px;
}

.chess-board {
	width: 400px;
}

.chess-board img {
	cursor: pointer;
}

.dialog {
	white-space: initial;
	position: absolute;
	top: 110px;
	left: 154px;
	z-index: 100;
	width: 100px;
	background-color: #fdcc05;
	border-width: 4px;
	border-style: double;
	border-radius: 8px;
	border-color: black;
	padding: 8px;
	text-align: center;
	min-width: 200px;
	box-shadow: 0px 0px 20px 4px #222;
}

@media only screen and (max-width: 480px) {
	.dialog {
		left: calc(50% - 130px);
	}
}

#promotion-dialog {
	left: 440px;
	top: 180px;
	font-weight: bold;
}

@media only screen and (max-width: 480px) {
	#promotion-dialog {
		left: calc(50% - 40px);
		min-width: 80px;
	}
}

#promotion-dialog img {
	cursor: pointer;
}

#promotion-dialog img:hover {
	background-color: white;
}

#overlay {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: #e32129;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #222;
	box-shadow: 8px 8px 8px #666;
	max-width: 120px;
}

.button img {
	height: 24px;
}

.button:hover {
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #e32129;
}

#header {
	border-radius: 8px;
	margin-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #fdcc05;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#header-left {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 180px);
}

#header-right {
	vertical-align: top;
	display: inline-block;
	text-align: right;
	width: 160px;
}

#header-right .button {
	margin-top: 8px;
	max-width: 160px;
}

#login-dropdown-list {
	left: -50vw;
	top: 40px;
	border-radius: 12px;
	border-style: double;
	border-width: 6px;
	border-color: black;
	box-shadow: 12px 12px 12px #666;
}

#header-text {
	vertical-align: top;
	display: inline-block;
	margin-left: 8px;
	width: calc(100% - 140px);
}

#header-title {
	font-size: 32px;
	font-weight: bold;
}

#need-to-sign-in {
	text-align: center;
}

#need-to-sign-in .button {
	margin: 16px;
	margin-left: 30px;
}

#spinner {
	position: absolute;
	z-index: 300;
}

#spinner img {
	position: absolute;
	z-index: 400;
	width: 300px;
	left: calc(50vw - 150px);
	top: 200px;
}

#message {
	white-space: initial;
	z-index: 120;
	width: 400px;
	line-height: 24px;
}

@media only screen and (max-width: 480px) {
	#message {
		width: calc(100% - 80px);
		left: calc(50% - 180px);
	}
}

#message-text {
	text-align: center;
	margin: 12px;
}

#message-text br {
	line-height: 36px;
}

#message-ok-button {
	margin-left: 140px;
}

@media only screen and (max-width: 480px) {
	#message-ok-button {
		margin-left: calc(50% - 66px);
	}
}

#clock {
	background-color: #fdcc05;
	width: 380px;
	text-align: center;
	font-weight: bold;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}

#players {
	display: inline-block;
	vertical-align: top;
}

#players table {
	width: 100%;
	margin-bottom: 22px;
}

#players th {
	background-color: #fdcc05;
}

#players .data-row:hover {
	color: white;
	background-color: #e32129;
}

#board-container {
	display: inline-block;
	max-width: 400px;
}

.players-table-container {
	max-height: 200px;
	overflow-y: auto;
	min-width: 502px;
}

.team-header {
	background-color: #fdcc05;
	font-size: 18px;
	font-weight: bold;
}

.team-header img {
	height: 30px;
	margin-left: 8px;
	margin-right: 2px;
	position: relative;
	top: 4px;
}

.hidden {
	display: none;
}

#username-dialog {
	top: 110px;
	left: calc(100% - 420px);
	width: 300px;
}

@media only screen and (max-width: 480px) {
	#username-dialog {
		left: calc(50% - 170px);
	}
}

#signin-dialog {
	top: 160px;
	left: calc(100% - 420px);
	width: 300px;
}

@media only screen and (max-width: 480px) {
	#signin-dialog {
		top: 60px;
		left: calc(50% - 170px);
	}
}

#or {
	margin: 20px;
	font-weight: bold;
}

#signin-dialog th {
	text-align: right;
	padding-right: 8px;
}

#signin-dialog .button {
	margin-left: calc(50% - 80px);
}

#username-dialog .button {
	margin-left: calc(50% - 80px);
}

#profile-header {
	background-color: #fdcc05;
	padding: 4px;
	font-weight: bold;
	font-size: 22px;
	width: 98%;
}

#profile-data th {
	text-align: right;
}

#profile-data div {
	display: inline-block;
}

#profile-data .button {
	margin-left: 12px;
}

@media only screen and (max-width: 480px) {
	#profile-data .button {
		margin-top: 8px;
	}
}

.invalid {
	background-color: #f44;
}

#header-logo {
	cursor: pointer;
	width: 80px;
	border-radius: 16px;
	margin-top: 6px;
}

@media only screen and (max-width: 480px) {
	#header-logo {
		width: 40px;
		border-radius: 8px;
	}
}

#waiting {
	margin: 40px;
	padding: 40px;
	border-color: black;
	border-width: 2px;
	border-style: double;
	border-radius: 8px;
	font-size: 24px;
	text-align: center;
	background-color: #fdcc05;
	line-height: 42px;
}

@media only screen and (max-width: 480px) {
	#waiting {
		white-space: normal;
		line-height: 32px;
		padding: 18px;
	}
}

#pass-or-ignore-button {
	width: 100px;
	margin-left: calc(100% - 224px);
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
}

@media only screen and (max-width: 480px) {
	#pass-or-ignore-button {
		margin-left: calc(100% - 270px);
	}
}

#game-id {
	display: inline-block;
	width: 100px;
}

.signin-button {
	max-width: 240px !important;
	margin-left: calc(50% - 120px) !important;
	margin-bottom: 16px;
}

.signin-button img {
	background-color: white;
	padding: 4px;
	margin-left: 12px;
	border-radius: 20px;
}

.signin-button-text {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}

#header-menu {
	background-color: #e32129;
	width: calc(100% + 12px);
	position: relative;
	left: -6px;
}

.header-menu-item {
	display: inline-block;
	font-weight: bold;
	margin: 4px;
	margin-left: 22px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: underline;
	color: white;
	border-color: transparent;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
}

@media only screen and (max-width: 480px) {
	.header-menu-item {
		margin-left: 2px;
		padding-left: 4px;
		padding-right: 4px;
		font-size: 14px;
	}
}

.header-menu-item.selected, .header-menu-item:hover {
	background-color: #fdcc05;
	color: black;
	border-color: black;
	border-width: 2px;
	cursor: pointer;
}

iframe {
	height: calc(100vh - 200px);
	width: 100%;
}

#faqs {
	white-space: initial;
}

#faqs br {
	line-height: 32px;
}

#faqs li {
	margin-top: 12px;
}

#faqs ul {
	list-style-type: square;
	padding-bottom: 18px;
	/* 	list-style-image: url("/img/favicon.ico"); */
}

.faq-question {
	font-weight: bold;
	margin-bottom: 12px;
	padding: 8px;
	background-color: #fdcc05;
}

.faq-answer {
	margin-bottom: 32px;
}

#profile-actions div {
	display: block;
	/* 	line-height: 32px; */
}

#profile-actions .button {
	text-decoration: none;
}

#language-dialog .button {
	margin-top: 22px;
	margin-left: calc(50% - 70px)
}

#language-dialog-header {
	font-weight: bold;
	font-size: 18px;
}

#language-link img {
	height: 16px;
	margin-left: 8px;
	background-color: white;
	padding: 2px;
	position: relative;
	top: 4px;
	border-radius: 20px;
}

#chess-board-header {
	margin-bottom: 8px;
	font-weight: bold;
	text-align: center;
	/* 	background-color: #fdcc05; */
}

#chess-board-header div {
	width: 200px;
	transform: scale(2, 1);
	margin-left: calc(50% - 100px);
}

.button.cancel img {
	background-color: white;
	border-radius: 4px;
	margin-right: 4px;
	height: 22px;
	position: relative;
	top: 2px;
}

.button.cancel .button-text {
	display: inline-block;
	position: relative;
	top: -4px;
}

#profile-data input {
	vertical-align: top;
}

#profile-data th {
	vertical-align: top;
}

.low-time {
	color: red;
}

#gdpr-buttons {
	margin-top: 32px;
}

#playing-side {
	display: inline-block;
	width: 180px;
}

@media only screen and (max-width: 480px) {
	#playing-side {
		width: 120px;
	}
}

#playing-side-label {
	position: relative;
	top: -8px;
	display: inline-block;
	font-weight: bold;
}

#playing-side img {
	height: 32px;
}

#in-check {
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
	color: red;
	width: 190px;
	text-align: right;
	position: relative;
	top: -8px;
}

.last-move-square {
	background-image: url("/img/yellow-square.png");
	background-size: 100%;
/* 	background-image: radial-gradient(rgba(255, 255, 0, 0), yellow); */
}

.moving-piece {
	background-image: url("/img/orange-square.png");
	background-size: 100%;
}

#history-game #game-controls {
	margin-top: 12px;
}

#history-game #game-controls img {
	cursor: pointer;
	height: 32px;
	padding: 4px;
	border-radius: 20px;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

#history-game #game-controls img:hover {
	background-color: #fdcc05;
	border-color: black;
}

#history-game #game-controls #first-move {
	margin-left: calc(50% - 90px);
}

#history-game {
	display: inline-block;
}

#history-game-list {
	position: relative;
	margin-left: 74px;
	display: inline-block;
	vertical-align: top;
	/* 	border-style: solid; */
	/* 	border-width: 2px; */
	/* 	border-color: black; */
	/* 	border-radius: 8px; */
}

@media only screen and (max-width: 480px) {
	#history-game-list {
		margin-left: 4px;
	}
}

#history-game-list #list-container {
	max-height: calc(100vh - 180px);
	overflow-y: auto;
}

#history-game-list th {
	background-color: #fdcc05;
	padding: 8px;
}

#history-game-list td {
	text-align: center;
}

#history-header {
	background-color: #fdcc05;
	padding: 4px;
	width: calc(100% - 8px);
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

#pass-dialog {
	top: 500px;
	left: 450px;
	width: 300px;
}

@media only screen and (max-width: 480px) {
	#pass-dialog {
		top: 100px;
		left: 10%;
		width: 200px;
	}
}

#pass-dialog .button {
	margin-top: 12px;
	margin-left: calc(50% - 68px);
}

.side-color-image {
	width: 24px;
}

#history-game-list .data-row:hover {
	color: white;
	background-color: #e32129;
}

#history-game #game-info {
	margin: 12px;
	margin-left: 96px;
}

#history-game #game-info th {
	text-align: right;
}

#export-pgn-button {
	margin-left: 132px;
	text-decoration: none;
}

#current-move {
	background-color: #fdcc05;
	max-width: 388px;
	padding: 4px;
}

@media only screen and (max-width: 480px) {
	#current-move {
		max-width: initial;
	}
}

#current-move #move-num {
	display: inline-block;
}

#current-move #move-user {
	display: inline-block;
}

#board-container #history-button, #board-container #load-game-dialog-button {
	margin-left: calc(100% - 122px);
	width: 100px;
	margin-bottom: 12px;
}

#no-game-history {
	display: inline-block;
	margin-left: 22px;
	vertical-align: top;
}

#game-comments-container {
	width: 360px;
	height: 320px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 8px;
	display: inline-block;
	position: absolute;
	top: 614px;
	left: 420px;
	padding: 4px;
}

#game-comments {
	max-height: 286px;
	overflow-y: auto;
}

#submit-comment-button {
	display: inline-block;
	width: 60px;
}

#comment-input {
	position: absolute;
	top: 292px;
	left: 8px;
}

#comment-input input {
	width: 270px;
}

.comment-metadata div {
	display: inline-block;
}

.comment-username {
	font-weight: bold;
}

.comment-username img {
	width: 22px;
	position: relative;
	top: 4px;
}

.comment-text {
	margin-left: 12px;
	display: inline-block;
}

.game-comment {
	max-width: 300px;
	white-space: initial !important;
}

#game-comments-header {
	font-weight: bold;
	background-color: #fdcc05;
	padding: 4px;
}

#comments-spinner {
	width: 120px;
	margin-left: calc(50% - 60px);
	margin-top: 40px;
}

#no-comments-message {
	font-weight: bold;
	margin-top: 16px;
	margin-left: 16px;
}

.history-comment-move-num {
	cursor: pointer;
	text-decoration: underline;
	background-color: #fdcc05;
	border-radius: 4px;
	margin-top: 4px;
	padding-right: 4px;
	padding-left: 4px;
	font-weight: bold;
}

@media only screen and (max-width: 480px) {
	.history-comment-move-num {
		background-color: white;
	}
}

.flag-container img {
	width: 18px;
	display: inline-block;
	position: relative;
	top: 2px;
}

.flag-container {
	text-align: center;
	width: 24px;
	border-radius: 18px;
	display: inline-block;
	cursor: pointer;
}

.flag-container:hover {
	background-color: #fdcc05;
}

#flag-comment {
	top: 420px;
	left: 472px;
}

@media only screen and (max-width: 480px) {
	#flag-comment {
		top: 120px;
		left: 5%;
	}
}

#flag-comment .button {
	margin-left: calc(50% - 70px);
	margin-top: 12px;
}

.user-avatar {
	height: 40px;
}

#receive-emails-checkbox {
	width: 22px;
	height: 18px;
}

.dialog td {
	text-align: left;
}

#profile-data {
	white-space: initial;
}

#show-players-button, #show-comments-button {
	min-width: 200px;
	margin-top: 8px;
	margin-left: calc(50% - 100px);
}

#players-dialog {
	width: 90%;
	left: 2%;
}

#players-dialog .button.cancel {
	position: relative;
	left: calc(50% - 80px);
}

.button.cancel .button-text {
	margin-top: 4px;
}

#game-comments-container-dialog {
	left: 2%;
	top: 2%;
	width: 90%;
	height: 400px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 8px;
	position: absolute;
	padding: 4px;
	text-align: left;
}

#game-comments-container-dialog #comment-input {
	width: calc(100% - 20px);
	top: 320px;
}

#game-comments-container-dialog input {
	width: calc(100% - 80px);
}

#game-comments-container-dialog .button.cancel {
	margin-left: calc(50% - 80px);
	margin-top: 8px;
}

#toast {
	z-index: 200;
	background-color: #eee;
	border-radius: 4px;
	width: 90%;
	position: absolute;
	top: calc(100vh - 40px);
	padding: 8px;
	font-weight: bold;
}

#cookie-consent {
	z-index: 200;
	background-color: #eee;
	border-radius: 4px;
	margin-left: 5%;
	width: 90%;
	position: absolute;
	top: calc(100vh - 160px);
	padding: 8px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 90%;
}

#cookie-consent-header {
	font-weight: bold;
	text-align: center;
}

#cookie-consent-ok-button {
	margin-left: calc(50% - 80px);
	margin-top: 8px;
}

#history-comments-ok-button {
	position: absolute;
	padding-left: 18px;
	padding-right: 18px;
	top: 350px;
	left: calc(50% - 120px);
}

#history-buttons {
	padding-left: calc(50% - 100px);
	padding-top: 8px;
}

#history-buttons .button {
	margin-left: 0px;
}

#more-button {
	margin-left: 8px;
	display: inline-block;
}

#more-button img {
	height: 26px;
	margin-top: 2px;
}

#more-options-dialog {
	top: 80px;
	min-width: 240px;
}

#more-options-dialog .button.cancel {
	margin-top: 8px;
	margin-left: calc(50% - 60px);
}

#more-options-dialog #history-button, #more-options-dialog #load-game-dialog-button {
	min-width: 200px;
	margin-left: calc(50% - 100px);
}

#more-options-dialog #load-game-dialog-button {
	margin-top: 8px;
}

#unsubscribe-success-view {
	white-space: initial;
}

#unsubscribe-success-view div {
	margin-top: 8px;
	font-size: 22px;
}

#privacy-policy-link-container {
	margin-top: 12px;
}

#load-game-dialog .button {
	margin-left: calc(50% - 64px);
	margin-top: 12px;
}

#load-game-dialog input {
	display: inline-block;
	width: 60px;
}

#load-game-dialog label {
	display: inline-block;
}

span.link {
	text-decoration: underline;
	color: darkorange;
	font-weight: bold;
	cursor: pointer;
}

span.link:hover {
	background-color: white;
}
