body {
	padding: 10px;
	font-family: "Lato", sans-serif;
}

.chess-board {
	width: 400px;
}

.chess-board img {
	cursor: pointer;
}

.dialog {
	position: absolute;
	top: 110px;
	left: 154px;
	z-index: 100;
	width: 100px;
	background-color: antiquewhite;
	border-width: 4px;
	border-style: double;
	border-radius: 8px;
	border-color: black;
	padding: 8px;
	text-align: center;
	min-width: 200px;
	box-shadow: 0px 0px 20px 4px #222;
}

#promotion-dialog img {
	cursor: pointer;
}

#overlay {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: #B5651D;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #222;
	box-shadow: 8px 8px 8px #666;
	max-width: 120px;
}

.button img {
	height: 24px;
}

.button:hover {
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #B5651D;
}

#header {
	border-radius: 8px;
	margin-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: antiquewhite;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#header-left {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 180px);
}

#header-right {
	vertical-align: top;
	display: inline-block;
	text-align: right;
	width: 160px;
}

#header-right .button {
	margin-top: 8px;
	max-width: 160px;
}

#login-dropdown-list {
	left: -50vw;
	top: 40px;
	border-radius: 12px;
	border-style: double;
	border-width: 6px;
	border-color: black;
	box-shadow: 12px 12px 12px #666;
}

/* #header .button { */
/* 	display: inline-block; */
/* 	margin-left: 8px; */
/* } */
#header-logo {
	width: 80px;
	border-radius: 16px;
	margin-top: 6px;
}

#header-text {
	vertical-align: top;
	display: inline-block;
	margin-left: 8px;
	width: calc(100% - 140px);
}

#header-title {
	font-size: 32px;
	font-weight: bold;
}

#need-to-sign-in {
	text-align: center;
}

#need-to-sign-in .button {
	margin: 16px;
	margin-left: 30px;
}

#spinner {
	position: absolute;
	z-index: 300;
}

#spinner img {
	position: absolute;
	z-index: 400;
	width: 300px;
	left: calc(50vw - 150px);
	top: 200px;
}

#message {
	z-index: 120;
	width: 400px;
	line-height: 24px;
}

#message-text {
	text-align: center;
	margin: 12px;
}

#message-ok-button {
	margin-left: 140px;
}

#clock {
	background-color: antiquewhite;
	width: 380px;
	text-align: center;
	font-weight: bold;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}

#players {
	display: inline-block;
	vertical-align: top;
}

#players table {
	width: 100%;
	margin-bottom: 22px;
}

#players th {
	background-color: antiquewhite;
}

#players .data-row:hover {
	color: white;
	background-color: #B5651D;
}

#board-container {
	display: inline-block;
}

.players-table-container {
	max-height: 200px;
	overflow-y: auto;
}

.team-header {
	background-color: antiquewhite;
	font-size: 18px;
	font-weight: bold;
}

.team-header img {
	height: 30px;
	margin-left: 6px;
	margin-right: 12px;
}

.hidden {
	display: none;
}

#username-dialog {
	left: calc(100% - 360px);
}

#signin-dialog {
	top: 140px;
	left: calc(100% - 360px);
	width: 300px;
}

#or {
	margin: 20px;
	font-weight: bold;
}

#signin-dialog th {
	text-align: right;
	padding-right: 8px;
}

#signin-dialog .button {
	margin-left: calc(50% - 80px);
}

#username-dialog {
	top: 140px;
	left: calc(100% - 360px);
	width: 300px;
}

#username-dialog .button {
	margin-left: calc(50% - 80px);
}

#profile-header {
	background-color: antiquewhite;
	padding: 4px;
	font-weight: bold;
	font-size: 22px;
}

#profile-data th {
	text-align: right;
}

#profile-data div {
	display: inline-block;
}

#profile-data .button {
	margin-left: 12px;
}

.invalid {
	background-color: #f44;
}

#header-logo {
	cursor: pointer;
}

#waiting {
	margin: 40px;
	padding: 40px;
	border-color: black;
	border-width: 2px;
	border-style: double;
	border-radius: 8px;
	font-size: 24px;
	text-align: center;
	background-color: antiquewhite;
	line-height: 42px;
}

#pass-button {
	width: 100px;
	margin-left: calc(100% - 224px);
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
}

#game-id {
	display: inline-block;
	width: 100px;
}

.signin-button {
	max-width: 240px !important;
	margin-left: calc(50% - 120px) !important;
	margin-bottom: 16px;
}

.signin-button img {
	background-color: white;
	padding: 4px;
	margin-left: 12px;
	border-radius: 20px;
}

.signin-button-text {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}

#header-menu {
	background-color: #B5651D;
	width: calc(100% + 12px);
	position: relative;
	left: -6px;
}

.header-menu-item {
	display: inline-block;
	font-weight: bold;
	margin: 4px;
	margin-left: 22px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: underline;
	color: white;
	border-radius: 20px;
}

.header-menu-item:hover {
	color: black;
	cursor: pointer;
	background-color: antiquewhite;
}

iframe {
	height: calc(100vh - 200px);
	width: 100%;
}

#faqs li {
	margin-top: 12px;
}

.faq-question {
	font-weight: bold;
	margin-bottom: 12px;
	padding: 8px;
	background-color: antiquewhite;
}
