body {
	margin: 6px;
	font-family: "Lato", sans-serif;
	background-color: lightyellow;
}

#content {
	white-space: nowrap;
}

input {
	width: 160px;
}

.chess-board {
	width: 400px;
}

.chess-board img {
	cursor: pointer;
}

.dialog {
	position: absolute;
	top: 110px;
	left: 154px;
	z-index: 100;
	width: 100px;
	background-color: #fdcc05;
	border-width: 4px;
	border-style: double;
	border-radius: 8px;
	border-color: black;
	padding: 8px;
	text-align: center;
	min-width: 200px;
	box-shadow: 0px 0px 20px 4px #222;
}

#promotion-dialog img {
	cursor: pointer;
}

#overlay {
	z-index: 20;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.button {
	cursor: pointer;
	text-align: center;
	padding: 4px;
	background-color: #e32129;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #222;
	box-shadow: 8px 8px 8px #666;
	max-width: 120px;
}

.button img {
	height: 24px;
}

.button:hover {
	color: black;
	background-color: white;
	border-width: 2px;
	border-color: #e32129;
}

#header {
	border-radius: 8px;
	margin-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #fdcc05;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#header-left {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 180px);
}

#header-right {
	vertical-align: top;
	display: inline-block;
	text-align: right;
	width: 160px;
}

#header-right .button {
	margin-top: 8px;
	max-width: 160px;
}

#login-dropdown-list {
	left: -50vw;
	top: 40px;
	border-radius: 12px;
	border-style: double;
	border-width: 6px;
	border-color: black;
	box-shadow: 12px 12px 12px #666;
}

/* #header .button { */
/* 	display: inline-block; */
/* 	margin-left: 8px; */
/* } */
#header-logo {
	width: 80px;
	border-radius: 16px;
	margin-top: 6px;
}

#header-text {
	vertical-align: top;
	display: inline-block;
	margin-left: 8px;
	width: calc(100% - 140px);
}

#header-title {
	font-size: 32px;
	font-weight: bold;
}

#need-to-sign-in {
	text-align: center;
}

#need-to-sign-in .button {
	margin: 16px;
	margin-left: 30px;
}

#spinner {
	position: absolute;
	z-index: 300;
}

#spinner img {
	position: absolute;
	z-index: 400;
	width: 300px;
	left: calc(50vw - 150px);
	top: 200px;
}

#message {
	z-index: 120;
	width: 400px;
	line-height: 24px;
}

#message-text {
	text-align: center;
	margin: 12px;
}

#message-text br {
	line-height: 36px;
}

#message-ok-button {
	margin-left: 140px;
}

#clock {
	background-color: #fdcc05;
	width: 380px;
	text-align: center;
	font-weight: bold;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}

#players {
	display: inline-block;
	vertical-align: top;
}

#players table {
	width: 100%;
	margin-bottom: 22px;
}

#players th {
	background-color: #fdcc05;
}

#players .data-row:hover {
	color: white;
	background-color: #e32129;
}

#board-container {
	display: inline-block;
	max-width: 400px;
}

.players-table-container {
	max-height: 200px;
	overflow-y: auto;
}

.team-header {
	background-color: #fdcc05;
	font-size: 18px;
	font-weight: bold;
}

.team-header img {
	height: 30px;
	margin-left: 6px;
	margin-right: 12px;
}

.hidden {
	display: none;
}

#username-dialog {
	top: 110px;
	left: calc(100% - 420px);
	width: 300px;
}

#signin-dialog {
	top: 160px;
	left: calc(100% - 420px);
	width: 300px;
}

#or {
	margin: 20px;
	font-weight: bold;
}

#signin-dialog th {
	text-align: right;
	padding-right: 8px;
}

#signin-dialog .button {
	margin-left: calc(50% - 80px);
}

#username-dialog .button {
	margin-left: calc(50% - 80px);
}

#profile-header {
	background-color: #fdcc05;
	padding: 4px;
	font-weight: bold;
	font-size: 22px;
	width: 100%;
}

#profile-data th {
	text-align: right;
}

#profile-data div {
	display: inline-block;
}

#profile-data .button {
	margin-left: 12px;
}

.invalid {
	background-color: #f44;
}

#header-logo {
	cursor: pointer;
}

#waiting {
	margin: 40px;
	padding: 40px;
	border-color: black;
	border-width: 2px;
	border-style: double;
	border-radius: 8px;
	font-size: 24px;
	text-align: center;
	background-color: #fdcc05;
	line-height: 42px;
}

#pass-or-ignore-button {
	width: 100px;
	margin-left: calc(100% - 224px);
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
}

#game-id {
	display: inline-block;
	width: 100px;
}

.signin-button {
	max-width: 240px !important;
	margin-left: calc(50% - 120px) !important;
	margin-bottom: 16px;
}

.signin-button img {
	background-color: white;
	padding: 4px;
	margin-left: 12px;
	border-radius: 20px;
}

.signin-button-text {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}

#header-menu {
	background-color: #e32129;
	width: calc(100% + 12px);
	position: relative;
	left: -6px;
}

.header-menu-item {
	display: inline-block;
	font-weight: bold;
	margin: 4px;
	margin-left: 22px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: underline;
	color: white;
	border-color: transparent;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
}

.header-menu-item.selected, .header-menu-item:hover {
	background-color: #fdcc05;
	color: black;
	border-color: black;
	border-width: 2px;
	cursor: pointer;
}

iframe {
	height: calc(100vh - 200px);
	width: 100%;
}

#faqs br {
	line-height: 32px;
}

#faqs li {
	margin-top: 12px;
}

#faqs ul {
	list-style-type: square;
	padding-bottom: 18px;
	/* 	list-style-image: url("/img/favicon.ico"); */
}

.faq-question {
	font-weight: bold;
	margin-bottom: 12px;
	padding: 8px;
	background-color: #fdcc05;
}

.faq-answer {
	margin-bottom: 32px;
}

#profile-actions div {
	display: block;
	/* 	line-height: 32px; */
}

#profile-actions .button {
	text-decoration: none;
}

#language-dialog .button {
	margin-top: 22px;
	margin-left: calc(50% - 70px)
}

#language-dialog-header {
	font-weight: bold;
	font-size: 18px;
}

#language-link img {
	height: 16px;
	margin-left: 8px;
	background-color: white;
	padding: 2px;
	position: relative;
	top: 4px;
	border-radius: 20px;
}

#chess-board-header {
	margin-bottom: 8px;
	font-weight: bold;
	text-align: center;
/* 	background-color: #fdcc05; */
	-webkit-transform: scale(2, 1); /* Safari and Chrome */
	-moz-transform: scale(2, 1); /* Firefox */
	-ms-transform: scale(2, 1); /* IE 9 */
	-o-transform: scale(2, 1); /* Opera */
	transform: scale(2, 1); /* W3C */
}

.button.cancel img {
	background-color: white;
	border-radius: 4px;
	margin-right: 4px;
	height: 22px;
	position: relative;
	top: 2px;
}

.button.cancel .button-text {
	display: inline-block;
	position: relative;
	top: -4px;
}

#profile-data input {
	vertical-align: top;
}

#profile-data th {
	vertical-align: top;
}

.low-time {
	color: red;
}

#gdpr-buttons {
	margin-top: 32px;
}

#playing-side {
	display: inline-block;
	width: 180px;
}

#playing-side-label {
	position: relative;
	top: -8px;
	display: inline-block;
	font-weight: bold;
}

#playing-side img {
	height: 32px;
}

#in-check {
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
	color: red;
	width: 210px;
	text-align: right;
	position: relative;
	top: -8px;
}

.last-move-square.from-square {
	
}

.last-move-square.to-square {
	
}

.last-move-square {
	border-color: yellow;
	border-style: solid;
	border-width: 3px;
	width: 43px !important;
	height: 43px !important;
	border-radius: 4px;
}

.last-move-square img {
	position: relative;
	top: -1px;
	left: -3px;
}

#history-game #game-controls {
	margin-top: 12px;
}

#history-game #game-controls img {
	height: 32px;
	cursor: pointer;
	padding: 4px;
	padding: 4px;
	border-radius: 20px;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

#history-game #game-controls img:hover {
	background-color: white;
	border-color: black;
}

#history-game #game-controls #first-move {
	margin-left: calc(50% - 90px);
}

#history-game {
	display: inline-block;
}

#history-game-list {
	margin-left: 12px;
	max-height: calc(100vh - 180px);
	overflow-y: auto;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 8px;
	padding: 8px;
}

#history-game-list th {
	background-color: #fdcc05;
	padding: 8px;
}

#history-game-list td {
	text-align: center;
}

#pass-dialog {
	top: 500px;
	left: 450px;
	width: 300px;
}

#pass-dialog .button {
	margin-top: 12px;
	margin-left: 80px;
}

.side-color-image {
	width: 24px;
}

#history-game-list .data-row:hover {
	color: white;
	background-color: #e32129;
}

#history-game #game-info {
	margin: 12px;
	margin-left: 96px;
}

#history-game #game-info th {
	text-align: right;
}

#export-pgn-button {
	margin-left: 132px;
	text-decoration: none;
}

#current-move {
	background-color: #fdcc05;
	max-width: 388px;
	padding: 4px;
}

#current-move #move-num {
	display: inline-block;
}

#current-move #move-user {
	display: inline-block;
}

#board-container #history-button {
	margin-left: calc(100% - 122px);
	width: 100px;
}
